
.popup{
    box-shadow: 0 2px 14px -4px #88978b;
    /* padding: 10px; */
    /* margin: 10px; */
    min-width: max-content;
    display: block;
    position: absolute;
    border-radius: 10px;
}


.my-popup{
    color: red !important;
    transition: all .3s ease;
    &-enter {
        opacity: 0;
        transform: translateY(100px);
        transition: all .3s ease;
    }
    &-enter-active {
        opacity: 1;
        transform: translateY(0px);
        transition: all .3s ease;
    }
    &-exit {
        opacity: 1;
        transform: translateY(0px);
        transition: all .3s ease;
    }
    &-exit-active {
        opacity: 0;
        transform: translateY(100px);
        transition: all .3s ease;
    }

}
