
.btn-disable{
    pointer-events: none;
    opacity: .4;
}

.link_btn{
    font-weight: 300;
    @apply text-dark-900;

    &:hover{
        @apply text-primary-400
    }
}
.btn{
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 14px!important;
    font-weight: 400!important;
}
.btn-danger{
    @apply bg-secondary-400;
    color: white;
}
.btn-primary{
    @apply bg-primary-400;
    color: white;
}