
.sidebar {
    .sidebar-author {
        text-align: center;
        padding: 25px 0px;
        box-shadow: 3px 2px 7px -1px rgba(127, 151, 249, .13);
        position: relative;

        .author-name {
            margin-top: 8px;
        }

        .author-position {
            @apply text-sm text-primary-400 font-medium uppercase mt-1
        }
    }
}